## Optimize the Model

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

history = History()

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [ ]:
# Drop the non-beneficial EIN column
application_df.drop(['EIN'],axis=1,inplace=True)

In [ ]:
# display the number of unique values

application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
application_df.value_counts('NAME')

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
FUSION ARTS UNLIMITED INC                             1
FURRST AND FURRMOST POOCH SANCTUARY INC               1
FURNISHING HOPE AZ INC                                1
FUNNY RIVER EMERGENCY SERVICES                        1
ZURICH PUBLISHING FOUNDATION INC                      1
Length: 19568, dtype: int64

In [ ]:
# Look at NAME value counts for binning

#  How many name counts are greater than 5?

# Choose a cutoff value and create a list of NAMEs to be replaced
all_name_counts = application_df['NAME'].value_counts()
name_count_df = all_name_counts.to_frame()
name_count_df
other_name_df = name_count_df[name_count_df['NAME']<=5].reset_index()




names_to_replace = other_name_df['index']

names_to_replace
# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
application_df['NAME'].value_counts()
# Check to make sure binning was successful

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df.value_counts('APPLICATION_TYPE')

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [ ]:
# Determine which values to replace if application counts are less than 500
all_app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_count_df = all_app_counts.to_frame()
app_count_df
other_app_df = app_count_df[app_count_df['APPLICATION_TYPE']<=100].reset_index()

application_types_to_replace = other_app_df['index']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()

In [ ]:
# Determine which values to replace if counts are less than 1000
class_count_df= class_count.to_frame()
other_class_df = class_count_df[class_count_df['CLASSIFICATION']<=1000].reset_index()
#other_class_df
low_count_classes = other_class_df['index']
# Replace in dataframe
for other_class in low_count_classes:
#  print('replacing ' + other_class + 'with Other')
  application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(other_class,"Other")

# Check to make sure binning was successful
application_df.info()
application_df['CLASSIFICATION'].value_counts()
application_df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    34299 non-null  object
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.9+ MB

NAME                       355
APPLICATION_TYPE            10
AFFILIATION                  6
CLASSIFICATION               6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Create a OneHotEncoder instance
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   NAME_AACE INTERNATIONAL  ...  SPECIAL_CONSIDERATIONS_Y
0                      0.0  ...                       0.0
1                      0.0  ...                       0.0
2                      0.0  ...                       0.0
3                      0.0  ...                       0.0
4                      0.0  ...                       0.0

[5 rows x 397 columns]

In [ ]:
encode_df.info(max_cols=400)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 397 columns):
 #    Column                                                                       Non-Null Count  Dtype
---   ------                                                                       --------------  -----
 0    NAME_AACE INTERNATIONAL                                                      34299 non-null  float64
 1    NAME_ACE MENTOR PROGRAM OF AMERICA INC                                       34299 non-null  float64
 2    NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS                34299 non-null  float64
 3    NAME_AIR FORCE ASSOCIATION                                                   34299 non-null  float64
 4    NAME_ALABAMA FEDERATION OF WOMENS CLUBS                                      34299 non-null  float64
 5    NAME_ALABAMA TREASURE FOREST ASSOCIATION                                     34299 non-null  float64
 6    NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION                     34299 non-null  float64
 7    NAME_ALPHA PHI OMEGA                                                         34299 non-null  float64
 8    NAME_ALPHA PHI SIGMA                                                         34299 non-null  float64
 9    NAME_ALPHA PHI SIGMA INC                                                     34299 non-null  float64
 10   NAME_ALPHA SIGMA PHI FRATERNITY INC                                          34299 non-null  float64
 11   NAME_ALTRUSA INTERNATIONAL FOUNDATION INC                                    34299 non-null  float64
 12   NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES                             34299 non-null  float64
 13   NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         34299 non-null  float64
 14   NAME_AMERICAN ART THERAPY ASSOCIATION INC                                    34299 non-null  float64
 15   NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                34299 non-null  float64
 16   NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN INC                            34299 non-null  float64
 17   NAME_AMERICAN CHEMICAL SOCIETY                                               34299 non-null  float64
 18   NAME_AMERICAN CHRISTIAN FICTION WRITERS INC                                  34299 non-null  float64
 19   NAME_AMERICAN COLLEGE OF HEALTHCARE EXECUTIVES                               34299 non-null  float64
 20   NAME_AMERICAN COLLEGE OF NURSE-MIDWIVES                                      34299 non-null  float64
 21   NAME_AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES                             34299 non-null  float64
 22   NAME_AMERICAN FEDERATION OF LABOR & CONGRESS OF INDUSTRIAL ORGS              34299 non-null  float64
 23   NAME_AMERICAN FEDERATION OF LABOR AND CONGRESS OF INDUSTRIAL ORGS            34299 non-null  float64
 24   NAME_AMERICAN FEDERATION OF STATE COUNTY & MUNICIPAL EMPLOYEES               34299 non-null  float64
 25   NAME_AMERICAN HIBISCUS                                                       34299 non-null  float64
 26   NAME_AMERICAN INDEPENDENT BUSINESS ALLIANCE                                  34299 non-null  float64
 27   NAME_AMERICAN INSTITUTE OF GRAPHIC ARTS                                      34299 non-null  float64
 28   NAME_AMERICAN IRIS SOCIETY                                                   34299 non-null  float64
 29   NAME_AMERICAN LEGION                                                         34299 non-null  float64
 30   NAME_AMERICAN LEGION AUXILIARY                                               34299 non-null  float64
 31   NAME_AMERICAN NEPHROLOGY NURSES ASSOCIATION                                  34299 non-null  float64
 32   NAME_AMERICAN POSTAL WORKERS UNION                                           34299 non-null  float64
 33   NAME_AMERICAN SOCIETY OF ADDICTION MEDICINE INC                              34299 non-null  float64
 34   NAME_AMERICAN STUDENT DENTAL ASSOCIATION                                     34299 non-null  float64
 35   NAME_AMERICAN VOLKSSPORT ASSOCIATION INC                                     34299 non-null  float64
 36   NAME_AMERICAN WATER WORKS ASSOCIATION                                        34299 non-null  float64
 37   NAME_AMERICAN YOUTH FOOTBALL INC                                             34299 non-null  float64
 38   NAME_AMERICANS UNITED FOR SEPARATION OF CHURCH AND STATE                     34299 non-null  float64
 39   NAME_AMIGOS DE LAS AMERICAS                                                  34299 non-null  float64
 40   NAME_AMVETS                                                                  34299 non-null  float64
 41   NAME_ANCIENT AND FREE ACCEPTED MASONS OF MISSOURI                            34299 non-null  float64
 42   NAME_ANCIENT FREE & ACCEPTED MASONS OF KANSAS                                34299 non-null  float64
 43   NAME_ARIZONA FEDERATION OF GARDEN CLUBS                                      34299 non-null  float64
 44   NAME_ASIAN PACIFIC AMERICAN INTERNAL REVENUE EMPLOYEES                       34299 non-null  float64
 45   NAME_ASSOCIATES OF VIETNAM VETERANS OF AMERICA INC                           34299 non-null  float64
 46   NAME_ASSOCIATION FOR PROFESSIONALS IN INFECTION CTRL & EPIDEMIOLOGY INC      34299 non-null  float64
 47   NAME_ASSOCIATION FOR VASCULAR ACCESS                                         34299 non-null  float64
 48   NAME_ASSOCIATION OF CIVILIAN TECHNICIANS INC                                 34299 non-null  float64
 49   NAME_ASSOCIATION OF CLINICAL RESEARCH PROFESSIONALS                          34299 non-null  float64
 50   NAME_ASSOCIATION OF OPERATING ROOM NURSES INC                                34299 non-null  float64
 51   NAME_ASSOCIATION OF PROFESSIONAL GENEALOGISTS                                34299 non-null  float64
 52   NAME_ASSOCIATION OF SCHOOL BOOSTER CLUBS                                     34299 non-null  float64
 53   NAME_ASSOCIATION OF TRADITIONAL HOOKING ARTISTS                              34299 non-null  float64
 54   NAME_BABYWEARING INTERNATIONAL INC                                           34299 non-null  float64
 55   NAME_BARNABAS GROUP INC                                                      34299 non-null  float64
 56   NAME_BEAVERHEAD COUNTY 4-H FOUNDATION                                        34299 non-null  float64
 57   NAME_BEREAVED PARENTS OF THE USA                                             34299 non-null  float64
 58   NAME_BETA BETA BETA BIOLOGICAL SOCIETY                                       34299 non-null  float64
 59   NAME_BETTER WORLD FUND                                                       34299 non-null  float64
 60   NAME_BLUE KNIGHTS MOTORCYCLE CLUB                                            34299 non-null  float64
 61   NAME_BOY SCOUTS OF AMERICA                                                   34299 non-null  float64
 62   NAME_BOYS TEAM CHARITY INC                                                   34299 non-null  float64
 63   NAME_CAJUN FRENCH MUSIC ASSOCIATION OF LOUISIANA INC                         34299 non-null  float64
 64   NAME_CALIFORNIA ASSOCIATION FOR THE EDUCATION OF YOUNG CHILDREN              34299 non-null  float64
 65   NAME_CALIFORNIA FEDERATION OF WOMENS CLUBS                                   34299 non-null  float64
 66   NAME_CALIFORNIA GARDEN CLUBS INC                                             34299 non-null  float64
 67   NAME_CALIFORNIA HIGHWAY PATROL EXPLORER PROGRAM                              34299 non-null  float64
 68   NAME_CALIFORNIA STATE CHAPER WOMENS COUNCIL OF REALTORS                      34299 non-null  float64
 69   NAME_CALIFORNIA STATE UNIVERSITY EMPLOYEES UNION                             34299 non-null  float64
 70   NAME_CALIFORNIA TEACHERS ASSOCIATION                                         34299 non-null  float64
 71   NAME_CALIFORNIA WOMENS CHORUS                                                34299 non-null  float64
 72   NAME_CASCADE 4-H FOUNDATION                                                  34299 non-null  float64
 73   NAME_CBMC INC                                                                34299 non-null  float64
 74   NAME_CENTERS FOR SPIRITUAL LIVING                                            34299 non-null  float64
 75   NAME_CHEVRON RETIREES ASSOCIATION                                            34299 non-null  float64
 76   NAME_CHIEF WARRANT & WARRANT OFFICERS ASSOCIATION U S COAST GUARD            34299 non-null  float64
 77   NAME_CHRISTIAN MEDICAL & DENTAL SOCIETY                                      34299 non-null  float64
 78   NAME_CIRCLE K INTERNATIONAL INC                                              34299 non-null  float64
 79   NAME_CISD EDUCATIONAL SUPPORT GROUPS INC                                     34299 non-null  float64
 80   NAME_CIVITAN INTERNATIONAL                                                   34299 non-null  float64
 81   NAME_CLEAR CREEK ISD GROUPS                                                  34299 non-null  float64
 82   NAME_CLEARCREEK I S D SUPPORT GROUPS                                         34299 non-null  float64
 83   NAME_COLLEGE AND UNIVERSITY PROFESSIONAL ASSOCIATION FOR HUMAN RESOURCES     34299 non-null  float64
 84   NAME_COMMUNICATION WORKERS OF AMERICA                                        34299 non-null  float64
 85   NAME_CONCERNS OF POLICE SURVIVORS                                            34299 non-null  float64
 86   NAME_CONSTRUCTION OWNERS ASSOCIATION OF AMERICA INC                          34299 non-null  float64
 87   NAME_CREATIVE OPPORTUNITIES UNLIMITED                                        34299 non-null  float64
 88   NAME_DAMAGE PREVENTION COUNCIL OF TEXAS                                      34299 non-null  float64
 89   NAME_DAUGHTERS OF CHARITY HEALTH SYSTEM                                      34299 non-null  float64
 90   NAME_DAUGHTERS OF ESTHER FELLOWSHIP INTERNATIONAL MINISTRIES INC             34299 non-null  float64
 91   NAME_DAUGHTERS OF UNION VETERANS OF THE CIVIL WAR 1861-1865                  34299 non-null  float64
 92   NAME_DELTA KAPPA GAMMA SOCIETY INTERNATIONAL                                 34299 non-null  float64
 93   NAME_DEMOLAY INTERNATIONAL                                                   34299 non-null  float64
 94   NAME_DEPARTMENT OF ALABAMA AUXILIARY TO THE VFW OF THE U S                   34299 non-null  float64
 95   NAME_DEPARTMENT OF ALABAMA VETERANS OF FOREIGN WARS OF THE UNITED STATES     34299 non-null  float64
 96   NAME_DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          34299 non-null  float64
 97   NAME_DEPARTMENT OF MONTANA LADIES AUXILIARY TO THE VFW OF THE U S            34299 non-null  float64
 98   NAME_DEPARTMENT OF NEVADA VETERANS OF FOREIGN WARS OF THE U S INC            34299 non-null  float64
 99   NAME_DEPARTMENT OF NEW MEXICO VETERANS OF FOREIGN WARS OF THE US AUXILIAR    34299 non-null  float64
 100  NAME_DEPARTMENT OF OREGON LADIES AUXILIARY TO THE VFW OF THE U S             34299 non-null  float64
 101  NAME_DEPARTMENT OF OREGON LADIES AUXILLARY TO THE VFW OF THE US              34299 non-null  float64
 102  NAME_DEPARTMENT OF UTAH LADIES AUXILIARY TO THE VETERANS OF FOREIGN WARS OF  34299 non-null  float64
 103  NAME_DEPARTMENT OF WYOMING VFW AUXILIARY                                     34299 non-null  float64
 104  NAME_DEPT OF GEORGIA LADIES AUXILIARY TO THE VFW OF THE UNITED STATES        34299 non-null  float64
 105  NAME_DISABLED AMERICAN VETERANS                                              34299 non-null  float64
 106  NAME_DISABLED AMERICAN VETERANS AUXILIARY INC                                34299 non-null  float64
 107  NAME_DISTRICT 21 AMERICAN CONTRACT BRIDGE LEAGUE                             34299 non-null  float64
 108  NAME_DOBERMAN PINSCHER CLUB OF AMERICA                                       34299 non-null  float64
 109  NAME_EAST VIEW SPORTS COALITION                                              34299 non-null  float64
 110  NAME_EMERGENCY NURSES ASSOCIATION                                            34299 non-null  float64
 111  NAME_EMMAUS CALLING INC                                                      34299 non-null  float64
 112  NAME_ESCAPEES SOCIAL NETWORK                                                 34299 non-null  float64
 113  NAME_EXECUTIVE WOMENS GOLF ASSOCIATION INC                                   34299 non-null  float64
 114  NAME_FALLON COUNTY 4-H COUNCIL                                               34299 non-null  float64
 115  NAME_FAMILY CAREER AND COMMUNITY LEADERS OF AMERICA INC                      34299 non-null  float64
 116  NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    34299 non-null  float64
 117  NAME_FBI NATIONAL CITIZENS ACADEMY ALUMNI ASSOCIATION INC                    34299 non-null  float64
 118  NAME_FELLOWSHIP OF CHRISTIAN COWBOYS INC                                     34299 non-null  float64
 119  NAME_FINANCIAL PLANNING ASSOCIATION                                          34299 non-null  float64
 120  NAME_FLEET RESERVE ASSOCIATION                                               34299 non-null  float64
 121  NAME_FLORIDA GOVERNMENT FINANCE OFFICERS ASSOCIATION INC                     34299 non-null  float64
 122  NAME_FLORIDA STATE UNIVERSITY ALUMNI ASSOCIATION                             34299 non-null  float64
 123  NAME_FRATERNAL ORDER OF EAGLES                                               34299 non-null  float64
 124  NAME_FRATERNAL ORDER OF POLICE                                               34299 non-null  float64
 125  NAME_FREE & ACCEPTED MASONS OF CALIFORNIA                                    34299 non-null  float64
 126  NAME_FREE & ACCEPTED MASONS OF GEORGIA                                       34299 non-null  float64
 127  NAME_FREE & ACCEPTED MASONS OF TENNESSEE                                     34299 non-null  float64
 128  NAME_FREE & ACCEPTED MASONS OF WASHINGTON                                    34299 non-null  float64
 129  NAME_FULBRIGHT ASSOCIATION INC                                               34299 non-null  float64
 130  NAME_FULL GOSPEL BUSINESS MENS FELLOWSHIP IN AMERICA                         34299 non-null  float64
 131  NAME_FUTURE FARMERS OF AMERICA AND ITS STATE ASSOCIATIONS & LOCAL CHAPTER    34299 non-null  float64
 132  NAME_FUTURE FARMERS OF AMERICA STATE ASSOCIATIONS & LOCAL CHAPTER            34299 non-null  float64
 133  NAME_GAMMA THETA UPSILON                                                     34299 non-null  float64
 134  NAME_GENERAL FEDERATION OF WOMENS CLUB                                       34299 non-null  float64
 135  NAME_GENERAL FEDERATION OF WOMENS CLUBS ARIZONA INC                          34299 non-null  float64
 136  NAME_GEORGIA EXTENSION 4-H FOUNDATION                                        34299 non-null  float64
 137  NAME_GLOBAL SPORTS ALLIANCE INC                                              34299 non-null  float64
 138  NAME_GOLD WING ROAD RIDERS ASSOCIATION                                       34299 non-null  float64
 139  NAME_GRANGE OF THE STATE OF CA ORDER OF PATRONS OF HUSBANDRY CHARTER         34299 non-null  float64
 140  NAME_HABITAT FOR HUMANITY INTERNATIONAL                                      34299 non-null  float64
 141  NAME_HABITAT FOR HUMANITY INTERNATIONAL INC                                  34299 non-null  float64
 142  NAME_HANDS FOR LIFE                                                          34299 non-null  float64
 143  NAME_HEALTH CARE FOR ALL-CALIFORNIA                                          34299 non-null  float64
 144  NAME_HEARING LOSS ASSOCIATION OF AMERICA INC                                 34299 non-null  float64
 145  NAME_HOLIDAY RAMBLER RECREATIONAL VECHICLE CLUB INC                          34299 non-null  float64
 146  NAME_HOLIDAY RAMBLER RECREATIONAL VEHICLE CLUB INC                           34299 non-null  float64
 147  NAME_HONOR SOCIETY OF PHI KAPPA PHI                                          34299 non-null  float64
 148  NAME_HOUSTON SQUARE & ROUND DANCE COUNCIL                                    34299 non-null  float64
 149  NAME_HUGH OBRIAN YOUTH LEADERSHIP                                            34299 non-null  float64
 150  NAME_HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC                               34299 non-null  float64
 151  NAME_ICE AGE FLOODS INSTITUTE                                                34299 non-null  float64
 152  NAME_INDEPENDENT ELECTRICAL CONTRACTORS INC                                  34299 non-null  float64
 153  NAME_INDEPENDENT ORDER OF ODD FELLOWS                                        34299 non-null  float64
 154  NAME_INFRAGARD NATIONAL MEMBERS ALLIANCE INC                                 34299 non-null  float64
 155  NAME_INTERNATIONAL ASSOCIATION FOR PUBLIC PARTICIPATION USA                  34299 non-null  float64
 156  NAME_INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              34299 non-null  float64
 157  NAME_INTERNATIONAL ASSOCIATION OF JEWISH GENEALOGICAL SOCIETIES INC          34299 non-null  float64
 158  NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUB                                 34299 non-null  float64
 159  NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                34299 non-null  float64
 160  NAME_INTERNATIONAL ASSOCIATION OF MACHINISTS & AEROSPACE WORKERS             34299 non-null  float64
 161  NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      34299 non-null  float64
 162  NAME_INTERNATIONAL BROTHERHOOD OF ELECTRICAL WORKERS                         34299 non-null  float64
 163  NAME_INTERNATIONAL CONGRESS OF CHURCHES AND MINISTERS                        34299 non-null  float64
 164  NAME_INTERNATIONAL CONGRESS OF CHURCHES MINISTERS                            34299 non-null  float64
 165  NAME_INTERNATIONAL FEDERATION OF FLY FISHERS INC                             34299 non-null  float64
 166  NAME_INTERNATIONAL MOUNTAIN BICYCLING ASSOCIATION - COLORADO                 34299 non-null  float64
 167  NAME_INTERNATIONAL ORDER OF THE RAINBOW GIRLS                                34299 non-null  float64
 168  NAME_INTERNATIONAL SOCIETY DAUGHTERS OF UTAH PIONEERS                        34299 non-null  float64
 169  NAME_JACKSONVILLE DISTRICT COUNCIL SOCIETY OF ST VINCENT DE PAUL INC         34299 non-null  float64
 170  NAME_JAMESTOWNE SOCIETY                                                      34299 non-null  float64
 171  NAME_JAPANESE AMERICAN CITIZENS LEAGUE                                       34299 non-null  float64
 172  NAME_KAPPA KAPPA PSI FRATERNITY                                              34299 non-null  float64
 173  NAME_KIRKWOOD SCHOOL DISTRICT PARENT TEACHER ORGANIZATIONAL COUNCIL          34299 non-null  float64
 174  NAME_KIWANIS INTERNATIONAL                                                   34299 non-null  float64
 175  NAME_KIWANIS INTERNATIONAL INC                                               34299 non-null  float64
 176  NAME_KLEIN SUPPORT GROUPS INC                                                34299 non-null  float64
 177  NAME_KNIGHTS OF COLUMBUS                                                     34299 non-null  float64
 178  NAME_KNIGHTS TEMPLAR OF THE UNITED STATES OF AMERICA                         34299 non-null  float64
 179  NAME_LA LECHE LEAGUE INTERNATIONAL INC                                       34299 non-null  float64
 180  NAME_LA LECHE LEAGUE OF WASHINGTON                                           34299 non-null  float64
 181  NAME_LAKE TRABIS ATHLETIC BOOSTER CLUB INC                                   34299 non-null  float64
 182  NAME_LAMBDA THETA ALPHA                                                      34299 non-null  float64

In [ ]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,axis=1)
application_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                       1.0                       0.0
1       1   108590  ...                       1.0                       0.0
2       1     5000  ...                       1.0                       0.0
3       1     6692  ...                       1.0                       0.0
4       1   142590  ...                       1.0                       0.0

[5 rows x 400 columns]

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
from keras.callbacks import History 
history = History()

In [ ]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 100)               40000

 dense_4 (Dense)             (None, 30)                3030

 dense_5 (Dense)             (None, 10)                310

 dense_6 (Dense)             (None, 1)                 11

=================================================================
Total params: 43,351
Trainable params: 43,351
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[history])

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4988 - accuracy: 0.7705
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4444 - accuracy: 0.7925
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4356 - accuracy: 0.7964
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4316 - accuracy: 0.7947
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4281 - accuracy: 0.7965
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4258 - accuracy: 0.7982
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4242 - accuracy: 0.7992
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4228 - accuracy: 0.7990
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4220 - accuracy: 0.7995
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4206 - accuracy: 0.8001
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4200 - accuracy: 0.7997
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4191 - accuracy: 0.7996
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4180 - accuracy: 0.8009
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.8013
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4173 - accuracy: 0.8019
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.8018
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.8018
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4157 - accuracy: 0.8024
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4146 - accuracy: 0.8021
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.8020
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4142 - accuracy: 0.8011
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4139 - accuracy: 0.8015
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4130 - accuracy: 0.8029
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4130 - accuracy: 0.8022
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8033
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4117 - accuracy: 0.8036
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8041
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8046
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4106 - accuracy: 0.8042
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4103 - accuracy: 0.8047
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4097 - accuracy: 0.8041
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4092 - accuracy: 0.8047
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4091 - accuracy: 0.8048
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4088 - accuracy: 0.8054
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8054
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4085 - accuracy: 0.8057
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4084 - accuracy: 0.8058
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4078 - accuracy: 0.8046
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8056
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4071 - accuracy: 0.8057
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4069 - accuracy: 0.8063
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4065 - accuracy: 0.8068
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4064 - accuracy: 0.8057
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8059
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4062 - accuracy: 0.8054
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8064
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4060 - accuracy: 0.8056
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8066
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4054 - accuracy: 0.8064
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4056 - accuracy: 0.8068
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8065
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4050 - accuracy: 0.8065
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4044 - accuracy: 0.8072
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4040 - accuracy: 0.8070
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4042 - accuracy: 0.8075
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4038 - accuracy: 0.8072
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4041 - accuracy: 0.8070
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4040 - accuracy: 0.8070
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8071
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4039 - accuracy: 0.8069
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4037 - accuracy: 0.8077
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8070
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8084
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8082
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8082
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8077
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8078
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8081
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8084
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8083
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8089
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8086
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8078
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8082
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8076
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8080
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8078
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8080
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8085
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8079
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8087
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8080
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8081
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8082
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4022 - accuracy: 0.8084
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4016 - accuracy: 0.8087
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8079
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8077
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8092
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4016 - accuracy: 0.8082
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4012 - accuracy: 0.8083
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4010 - accuracy: 0.8078
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4011 - accuracy: 0.8082
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4013 - accuracy: 0.8088
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8084
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4012 - accuracy: 0.8077
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4014 - accuracy: 0.8084
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4011 - accuracy: 0.8088
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8083
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4010 - accuracy: 0.8084

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4440 - accuracy: 0.7886 - 479ms/epoch - 2ms/step
Loss: 0.4439689815044403, Accuracy: 0.7885714173316956

In [ ]:
#import numpy as np
#prediction = np.round(nn.predict(X_test_scaled))

#wrong_predictions = X_test_scaled[prediction != y_test]

IndexError: ignored

In [ ]:
#print(history.history.keys())

dict_keys(['loss', 'accuracy'])

In [ ]:
#print(history.history['val_loss'])

KeyError: ignored

In [ ]:
nn.history

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Create a random forest classifier.
rand_clas = RandomForestClassifier(random_state=1, n_estimators=500)

In [ ]:
# Fitting the model
clf=rand_clas.fit(X_train_scaled, y_train)

# Evaluate the model
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.8785181153786348
Testing Score: 0.7763265306122449

In [ ]:
!pip install keras_tuner
import kerastuner as kt

Requirement already satisfied: keras_tuner in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (1.0.4)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (2.8.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (2.23.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (21.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (5.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras_tuner) (1.21.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (5.1.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (57.4.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras_tuner) (4.8.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras_tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras_tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras_tuner) (3.0.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras_tuner) (0.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras_tuner) (2.10)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.35.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.8.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (3.17.3)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.37.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (3.3.6)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.43.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (0.4.6)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras_tuner) (1.0.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras_tuner) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras_tuner) (4.11.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras_tuner) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras_tuner) (3.10.0.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras_tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras_tuner) (3.2.0)

In [ ]:
X_train_scaled.shape

(25724, 399)

In [ ]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=399))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [ ]:
# Import the kerastuner library


tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Oracle from existing project ./untitled_project/oracle.json
INFO:tensorflow:Reloading Tuner from ./untitled_project/tuner0.json

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=10,validation_data=(X_test_scaled,y_test))

Trial 72 Complete [00h 00m 56s]
val_accuracy: 0.7906705737113953

Best val_accuracy So Far: 0.7941690683364868
Total elapsed time: 00h 08m 21s
INFO:tensorflow:Oracle triggered exit

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 9,
 'num_layers': 1,
 'tuner/bracket': 0,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/round': 0,
 'units_0': 5,
 'units_1': 1,
 'units_2': 3,
 'units_3': 7,
 'units_4': 9,
 'units_5': 5}

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4367 - accuracy: 0.7942 - 594ms/epoch - 2ms/step
Loss: 0.43667757511138916, Accuracy: 0.7941690683364868

In [ ]:
# Export our model to HDF5 file
best_model.save("AlphabetSoupCharity_Optimization_ht.h5")